.customNavMenu
{
    display: flex;
}

.customNavLink{

}

    .customNavLink > a:active {
        border-inline: none;
        border-top: solid 2px;
    }

    .customNavLink > a > div{
        display:none;
    }

.customNavMenuPaper {
    width:100%;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content:center;
    background: var(--mud-palette-appbar-background);
}